/* app/assets/stylesheets/foods/index.css */

/* Style for the "Add Food" link */
.add-food-link {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

/* Style for the table */

table {
  margin-top: 150px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}

/* Style for the "Delete" link inside the table cells */
a.delete-link {
  color: #f44;
  text-decoration: none;
}
